/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .app {
    overflow-y: scroll;
  }
  .container__moneylist {
    height: 100%;
    justify-content: center;
  }
  .mg-top {
    margin-top: 1.8rem;
  }
  .question__box {
    padding: 2.8rem 0;
  }
  .question__box h2 {
    margin-top: 0;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .modal {
    width: 100%;
    left: 0;
    right: 0;
  }
  .time-count {
    margin: 0 auto;
    width: 20%;
    padding: 1.2rem;
  }
  .question__box {
    padding: 2.8rem 0;
  }
  .question__box h2 {
    margin-top: 0;
  }
  .answer__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
