/* --------------tablet------------- */

@media (min-width:740px) and (max-width:1023px) {
    .Help_btn {
        width: 20%;
        height: 40%;
        border-radius: 50%;
        border: none;
        box-shadow: 0 3px 4px #ccc;
        background-color: gray;
    }
    .Help_icon {
        color: white;
        font-size: 20px;
    }
    .bonus-link {
        margin-right: 10px;
    }
}


/* -----------------moblie-------------------- */

@media (max-width:739px) {
    .bonus-link {
        color: tomato;
        font-size: 20px;
        font-weight: 650;
        margin-right: 5px;
    }
    .bonus-link1 {
        color: tomato;
        font-size: 20px;
        font-weight: 650;
        display: flex;
        justify-content: flex-start;
        width: 140px;
    }
    .lable1 {
        width: 200px;
    }
    .Help_icon {
        color: white;
        font-size: 14px;
    }
    .Help_btn {
        width: 30%;
        height: 30%;
    }
    .input {
        width: 300px;
    }
    .btn_login {
        width: 100%;
    }
}